%header.navigation
  .navigation-wrapper
    %a.logo{:href => "/"}
      %img= image_tag('home-icon-square-red.png')
      %img= image_tag('home-icon-blue.png')
    %a#js-mobile-menu.navigation-menu-button{:href => ""} MENU
    .nav
      %ul#navigation-menu
        - if user_signed_in?
          - if current_user.name
            %li.nav-link.name #{current_user.name}
          - else
            %li.nav-link.name #{current_user.email}
          %li.nav-link
            %a= link_to "Play", games_path, :class => "logout"
          %li.nav-link
            %a= link_to "Favorites", favorites_path, :class => "logout"
        - else
          %a.sign-up{:href => new_user_registration_path} Sign Up
          %a.sign-up{:href => new_user_session_path} Sign In
        -# %li.nav-link
        -#   %a{:href => "javascript:void(0)"} About
        -# %li.nav-link

    .navigation-tools
      - if user_signed_in?
        %a= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "logout"
      -#   - if current_user.name
      -#     %p.name Signed in as: #{current_user.name}
      -#   - else
      -#     %p.name Signed in as: #{current_user.email}
      -#   %a= link_to "Sign Out", destroy_user_session_path, :method => :delete
      -# - else
      -#   %a.sign-up{:href => new_user_registration_path} Sign Up
      -#   %a.sign-up{:href => new_user_session_path} Sign In
